{% extends "base-generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>

  <h2>Books by {{ author.first_name }} {{ author.last_name }}</h2>
  
    {% for book in author.book_set.all %}
      <h3><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h3>
      <p><strong>Summary:</strong> {{ book.summary }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p>
      <hr>
    {% empty %}
      <li>No books available for this author.</li>
    {% endfor %}
  </ul>
  {% block sidebar %}
    {{ block.user }}
    {% if perms.catalog.change_author or perms.catalo.delete_author %}
    <hr>
    <ul class="sidebar-nav">
      {% if perms.catalog.change_author %}
        <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
      {% endif %}
      {% if not author.book_sel.all and perms.catalog.delete_author %}
        <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
      {% endif %}
    </ul>
  {% endif %}
  {% endblock %}
  <a href="{% url 'authors' %}">Back to Author List</a>
{% endblock %}
